# IDE
.build_dir
.externalTollBuilders
.settings
.project
.buildpath
deps.lock
.idea

# OS
.DS_Store
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes
.buildpath
.project
.settings

# Dependencies
/vendor

# Composer
composer.phar

# Box
build
