language: php

php:
    - 7.2
    - 7.3
    - 7.4

env:
    global:
        - TARGET=test
        - SYMFONY_PHPUNIT_REMOVE="symfony/yaml"

matrix:
    fast_finish: true
    include:
        - php: 7.3
          env: TARGET=cs_dry_run
        - php: 7.2
          env: COMPOSER_FLAGS="--prefer-lowest" SYMFONY_DEPRECATIONS_HELPER=weak

cache:
    directories:
        - $HOME/.composer/cache

install: composer update --prefer-dist --no-interaction $COMPOSER_FLAGS

script:
    - make $TARGET

branches:
    only:
        - master
