includes:
    #- phpstan-baseline.neon

parameters:
    level: 9
    paths:
        - src
        - jolinotif
    tmpDir: 'var/phpstan/tmp'
    inferPrivatePropertyTypeFromConstructor: true
    # checkGenericClassInNonGenericObjectType: false
    excludePaths:
        analyse: []
    ignoreErrors:
        - '#Call to an undefined method FFI::.+#'
